<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>689442145830-v41dpbos6hb2njckdq207ellpavkk120.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689442145830-v41dpbos6hb2njckdq207ellpavkk120</string>
	<key>API_KEY</key>
	<string>AIzaSyBYxnuLjpXpF2L4mDXfxRYYZW3oi9dZfZo</string>
	<key>GCM_SENDER_ID</key>
	<string>689442145830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsalib.AskAway</string>
	<key>PROJECT_ID</key>
	<string>askaway-84a8d</string>
	<key>STORAGE_BUCKET</key>
	<string>askaway-84a8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:689442145830:ios:6cac4e8b5fb0b061</string>
	<key>DATABASE_URL</key>
	<string>https://askaway-84a8d.firebaseio.com</string>
</dict>
</plist>
